{% extends 'SoipoOkentoAdminBundle:Layout:main_boxed.html.twig' %}

{% set title = 'title.list' %}

{% block content_header  %}
    <h1>{{ title|trans }}</h1>
{% endblock %}

{% block box_body  %}
    {% if users is not null %}
        <table id="user_list" class="table table-bordered  dataTable">
            <thead>
            <tr>
                <th>{{ 'label.firstname'|trans }}</th>
                <th>{{ 'label.lastname'|trans }}</th>
                <th>{{ 'label.username'|trans }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.active'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.active ? 'yes':'no' |trans }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm">
                                <a href="{{ url('soipo_okento_user_view',{'id':user.id}) }}"><i class="fa fa-eye"></i> {{ 'action.view'|trans }}</a>
                            </button>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if(not user.active) %}
                                    <button type="button" class="btn btn-default btn-sm">
                                        <a href="{{ url('soipo_okento_user_active',{'id':user.id}) }}"><i class="fa fa-power-off"></i> {{ 'action.active'|trans }}</a>
                                    </button>
                                {% endif %}
                                {% if  'ROLE_ADMIN' in user.roles == false %}
                                    <button type="button" class="btn btn-default btn-sm">
                                        <a href="{{ url('soipo_okento_user_active',{'id':user.id,'admin': true}) }}"><i class="fa fa-power-off"></i> {{ 'action.admin'|trans }}</a>
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-default btn-sm">
                                    <a href="{{ url('soipo_okento_user_delete',{'id':user.id}) }}"><i class="fa fa-times"></i> {{ 'action.delete'|trans }}</a>
                                </button>
                            {% endif %}

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'no.user.found'|trans }}</p>
    {% endif %}
{% endblock %}

{% block documentReady %}$('#user_list').DataTable();{% endblock documentReady %}