{% extends 'SoipoOkentoAdminBundle:Layout:main_boxed.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@SoipoOkentoAdminBundle/Resources/public/css/iCheck/square/blue.css'
    filter='?cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% set title = 'title.update' %}

{% block content_header  %}
    <h1>{{ title|trans }}</h1>
{% endblock %}

{% block box_body  %}
    <div class="row">
        <div class="col-sm-10">
            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button type="submit" class="btn btn-primary">{{ 'button.save'|trans}}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@SoipoOkentoAdminBundle/Resources/public/js/iCheck/icheck.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block documentReady %}
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });

    if($('#user_association').is(':checked')  == false ) {
         $('.association').hide();
    }

    $('#user_association').on('ifChecked', function(event){
    $('.association').show().find('input').attr('required','required');
    });
    $('#user_association').on('ifUnchecked', function(event){
        $('.association').hide().find('input').removeAttr('required').val('');
    });
{% endblock documentReady %}