{% extends 'SoipoOkentoUserBundle:Security:base_security.html.twig' %}

{% set title = 'register.title' %}
{% set template_name = 'register' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block inner_content %}
            <p>{{ "join.content"|trans({},'security') }}</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit"
                    class="btn btn-primary btn-block btn-flat">{{ 'button.register'|trans({},'security') }}</button>
            {{ form_end(form) }}
            <br/>
            <p><a href="{{ path('soipo_okento_user_login') }}" class="text-center">{{ 'already.a.member'|trans({},'security') }}</a></p>
{% endblock %}
