{% extends 'SoipoOkentoUserBundle:Security:base_security.html.twig' %}

{% set title = 'login.title' %}
{% set template_name = 'login' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block inner_content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'button.sign.in'|trans({},'security') }}</button>
    {{ form_end(form) }}
    <br/>
    <p><a href="{{ url('soipo_okento_user_reset_password') }}">{{ 'link.forgot.password'|trans({},'security')}}</a></p>
    <p><a href="{{ url('soipo_okento_user_join') }}" class="text-center">{{ 'link.join'|trans({},'security')}}</a></p>
{% endblock %}
