{% extends 'SoipoOkentoUserBundle::base.html.twig' %}

{% block title %} {{ parent() }} - {{ 'join.title'|trans({},'security') }}{% endblock %}


{% block body_class %}hold-transition register-page{% endblock %}

{% form_theme form _self %}


{% block _resetPassword__email_row %}
     <div class="form-group has-feedback">
          {{ form_widget(form, {'attr': {'class': 'form-control','placeholder': form.vars.label}}) }}
          {{ form_errors(form) }}
     </div>
{% endblock %}

{% block _resetPassword__username_row %}
     <div class="form-group has-feedback">
          {{ form_widget(form, {'attr': {'class': 'form-control','placeholder': form.vars.label}}) }}
          {{ form_errors(form) }}
     </div>
{% endblock %}


{% block content %}
     <div class="register-box">
          {% block flashes %}
               {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                         <div class="alert alert-{{ label }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              {{ flash }}
                         </div>
                    {% endfor %}
               {% endfor %}
          {% endblock %}

          <div class="register-box-body">
               <p class="login-box-msg">{{ "reset.password.content"|trans({},'security') }}</p>
               {{ form_start(form) }}
               {{ form_widget(form) }}
               <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'button.reset'|trans({},'security')}}</button>
               {{ form_end(form) }}

               <br/>
               <a href="{{ path('soipo_okento_user_login') }}" class="text-center">{{ 'login.title'|trans({},'security')}}</a>
          </div><!-- /.form-box -->
     </div><!-- /.register-box -->
{% endblock %}
